* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
  padding: 1em;
}

.page-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.zero-outer {
  height: 6em;
  width: 5em;
  border-radius: 50%;
  background-color: #5e5c5c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.zero-inner {
  height: 70%;
  width: 60%;
  border-radius: inherit;
  background-color: lightgrey;
}


.one-wrapper {
  height: 12em;
  width: 5em;
  padding-left: 1em;
  display: flex;
  flex-wrap: wrap;
  column-gap: 40em;
  justify-content: center;
}

.one-base {
  height: 5%;
  width: 100%;
  background-color: red;
}

.one-pole {
  /* height: 50%; */
  width: 10px;
  background-color: green;
}