* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
  padding: 1em;
}

.page-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.zero-outer {
  height: 6em;
  width: 5em;
  border-radius: 50%;
  background-color: rgb(197, 115, 115);
  display: flex;
  justify-content: center;
  align-items: center;
}

.zero-inner {
  height: 70%;
  width: 60%;
  border-radius: inherit;
  background-color: lightgrey;
}

.one {
  height: 6em;
  width: 1.5em;
  background-color: rgb(76, 139, 76);
}